body {
    font-family: "Ubuntu",Helvetica,Arial,sans-serif;
}

@font-face {
    font-family: comicSans;
    src: url(../fonts/LDFComicSans.ttf);
}
.navbar-brand {

    font-family: comicSans;
    font-size: 36px;
    vertical-align: middle;
    text-shadow: 1px 1px rgb(47, 47, 47);

    font-stretch: extra-condensed;
    letter-spacing: -5px;
}

h1,h2,h3,h4,h5,h6
 {
    font-family: comicSans;
    font-weight: 200;
}



.red {
    color: red;
}
.blue {
    color: blue;
}
.yellow {
    color: yellow;
}
.green {
    color: green;
}

.white {
    color: white;
}

/*Block Headline*/
.headline {
    display: block;
    margin: 10px 0 25px 0;
    border-bottom: 1px dotted #e4e9f0;
}

.headline h2 {
    font-size: 22px;
}

.headline h2,
.headline h3,
.headline h4 {
    margin: 0 0 -2px 0;
    padding-bottom: 5px;
    display: inline-block;
    border-bottom: 2px solid #a80b40;
}

.headline-md {
    margin-bottom: 15px;
}

.headline-md h2 {
    font-size: 21px;
}


/*Breadcrumbs
------------------------------------*/
/*Default Breadcrumbs*/
.breadcrumbs {
    overflow: hidden;
    padding: 10px 0 6px;
    border-bottom: solid 1px #eee;
    background: url(../img/breadcrumbs.png) repeat;
}
.breadcrumbs h1 {
    color: #666;
    font-size: 22px;
    margin-top: 8px;
}

.breadcrumb {
    top: 10px;
    padding-right: 0;
    background: none;
    position: relative;
}
.breadcrumb a {
    color: #777;
}
.breadcrumb li.active,
.breadcrumb li a:hover {
    color: #72c02c;
    text-decoration: none;
}

@media (max-width: 550px) {
    .breadcrumbs h1.pull-left,
    .breadcrumbs ul.pull-right {
        width: 100%;
        text-align: center;
    }

    .breadcrumbs h1.pull-left {
        margin-bottom: 0;
    }

    .breadcrumbs .breadcrumb {
        top: 0;
        margin-bottom: 10px;
    }
}
